torch
transformers
sentence-transformers
faiss-cpu
datasets
fastapi
uvicorn
pydantic
numpy
tqdm
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
openai
protobuf
sentencepiece
